@import 'variables';

.intro{
  margin-bottom: 74px;
  &__main{
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__block{
    &-wrap{
      width: 475px;
      display: flex;
      background: linear-gradient(90deg, #414141 -2.95%, rgba(45, 45, 45, 0.00) 103.37%);
    }
  }
  &__item{
    border-radius: 50%;
    background-color: $bg-color3;
    width: 65px;
    height: 65px;
    margin: 6px 10px 6px 0;
    &:first-child{
      margin-left: 10px;
    }
  }
  &__objects{
    font-size: 36px;
    padding: 31px;
    background-color: $bg-color2;
    width: 484px;
    a{
      color: $font-color4;
    }
  }
}